body {
    font-family: "Roboto", sans-serif;
    background: #ffffff;
    margin: 0;
    padding: 0;
    color: #222;
}

.project {
    margin: 16px;
    padding: 8px;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    border-left: #0d9c19 5px solid;
}

li:nth-child(n+1) {
    border-top: 2px #f1f1f1 solid;
}

li:nth-last-child(1), header {
    border-bottom: 2px #f1f1f1 solid;
}

li {
    padding: 12px;
    list-style-type: none;
}

.project-list {
    grid-column: 1 / -1;
    padding: 0;
}

.button-box {
    display: flex;
    justify-content: end;
}

button {
    background: #f1f1f1;
    border: none;
    padding: 7px 20px;
    border-radius: 50px;
    margin: 15px 10px;
    font-weight: bold;
}

.button-box, h2 {
    grid-column: 0.5;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0px 16px;
}

.holder {
    max-width: 1024px;
    margin: auto;
}

form {
    display: none;
    padding: 16px;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

form div {
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="number"] {
    border: none;
    background-color: #f1f1f1;
    padding: 7px 20px;
    border-radius: 50px;
    margin: 15px 10px;
}

.project-title {
    margin: none;
}

.button-box > {
    margin: none;
}

.project {
    margin: 64px 8px;
}

input[type="checkbox"] {
    display: none;
}
  
label {
    position: relative;
    font-size: 1.3rem;
    margin-left: 32px;
}

label::before {
    content: "";
    background: url("assets/check.svg");
    background-position: center;
    background-size: contain;
    width: 32px;
    height: 32px;
    position: absolute;
    left: -44px;
    top: -8px;
  
    transform: scale(0) rotateZ(-90deg);
    transition: all 0.4s cubic-bezier(0.3, 0.05, 0, 1);
  }

input[type="checkbox"]:checked + label::before {
    transform: scale(1) rotateZ(0deg);
}

input[type="checkbox"]:checked + label {
    transition: all 1s;
}
  
main label::after {
    content: "";
    border: 2px solid #27ae60;
    width: 24px;
    height: 24px;
    position: absolute;
    left: -42px;
    top: -6px;
    border-radius: 50%;
}

.add-project {
    background-color: #0d9c19;
    color: white;
}